/*
A simple drawing application for touch devices.
Loïc Fontaine - http://github.com/lfont - MIT Licensed
*/

@media screen and (orientation: landscape) {
    html, body {
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    html, body {
        width: 100%;
    }
}

.ui-popup .ui-field-contain input.ui-slider-input {
    width: 40px;
}

.ui-content {
    text-align: center;
}

.about-view .ui-content a {
    text-decoration: none;
}

.about-view .ui-content .social-widgets {
    margin-left: 2em;
}

.main-view {
    -webkit-user-select: none;
    user-select: none;
}

.main-view .ui-header .ui-title {
    margin-left: 40px;
    text-align: left;
}

.main-view .ui-popup .ui-header .ui-title {
    margin: .6em 30% .8em;
    text-align: center;
}

.main-view .ui-header .social-widgets {
    position: absolute;
    left: 125px;
    top: 10px;
}

.main-view .ui-content,
.main-view .ui-content canvas {
    margin: 0;
    padding: 0;
}

.main-view .ui-content {
    overflow: hidden;
}

.main-view .ui-content canvas {
    background: transparent url("../img/background.png") repeat 0 0;
    cursor: pointer;
}

.main-view .ui-content canvas:active {
    cursor: crosshair;
}

.main-view .ui-bar-a .title-online,
.main-view .ui-bar-a .title-offline {
    cursor: default;
    text-decoration: none;
}

.main-view .ui-bar-a .title-online,
.main-view .ui-bar-a .title-online:active,
.main-view .ui-bar-a .title-online:hover,
.main-view .ui-bar-a .title-online:visited {
    color: white;
}

.main-view .ui-bar-a .title-offline,
.main-view .ui-bar-a .title-offline:active,
.main-view .ui-bar-a .title-offline:hover,
.main-view .ui-bar-a .title-offline:visited {
    color: red;
}

.tools-view {
    width: 300px;
}

.tools-view .ui-content {
    overflow: hidden;
    overflow-y: auto;
}

.options-view .ui-listview {
    min-width: 210px;
}

.options-view .ui-listview .ui-li-divider {
    font-size: 16px;
}

.message-popup {
    height: 150px;
    max-width: 400px;
}

.block {
    margin-top: 1em;     
}

.block .block-title {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;    
}

.block .block-content {
    display: inline-block;
    margin: 0 auto;
}

.colorpicker-custom-colors p,
.colorpicker-predefined-colors p {
    margin-top: 0;
}

.colorpicker-custom-colors label {
    display: inline-block;
    margin-top: 7px;
    text-align: left;
    vertical-align: top;
    width: 10%;
}
    
.colorpicker-predefined-colors>div {
    margin: 0 auto;
}

.colorpicker-custom-color,
.colorpicker-predefined-color {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
}

.colorpicker-custom-color,
.colorpicker-predefined-color-wrapper,
.colorpicker-predefined-color {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.colorpicker-custom-color {
    margin: 0.5em auto;
}

.colorpicker-predefined-color-wrapper {
    background: transparent url("../img/background.png") repeat 0 0;
    display: inline-block;
    margin: 0 0.5em 1em 0.5em;
}

.colorpicker-custom-color:hover,
.colorpicker-predefined-color:hover,
.colorpicker-color-selected {
    cursor: pointer;
    box-shadow: 0 0 0 3px gray;
}

.webpaint-history-image {
    background: transparent url("../img/background.png") repeat 0 0;
    height: 115px;
    width: 115px;
}

.quick-action-group[role='heading'] {
    background: linear-gradient(rgb(255, 255, 255), rgb(241, 241, 241)) repeat scroll 0 0 rgb(238, 238, 238);
    border: 1px solid rgb(204, 204, 204);
    border-bottom: 0;
    text-align: center;
}

.quick-action-group[role='heading'] .quick-action {
    color: #304d46;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 8px;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}
