<!-- The data-role="header" and data-role="footer" classes are applied manually
because these widgets are not standard widgets and they connot be initialized
by triggering the "create" event (inside a popup). -->
<div data-role="header" class="ui-corner-top ui-header ui-bar-a">
    <h1 class="ui-title"><%= r.title %></h1>
</div>

<div data-role="content" class="ui-corner-bottom ui-content">
    <h2><%= name %>&nbsp;<%= version %></h2>
    <p>
        <%= r.description %>
    </p>
    <p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lfont.webpaint.jit.su" data-text="WebPaint: a simple drawing application for fun." data-via="loic_fontaine" data-hashtags="html5">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <%= r.follow %>&nbsp;
        <a href="http://twitter.com/loic_fontaine" target="_blank">twitter</a>
    </p>
    <p>
        <%= r.source %>&nbsp;
        <a href="http://github.com/lfont/WebPaint" target="_blank">github</a>
        <br />
        &copy; 2011-2012 Loïc Fontaine
    </p>
</div>
