<div class="colorpicker-custom-colors">
    <p><%= r.customColorHint %></p>
    <div class="colorpicker-custom-color"></div>
    <form>
        <div data-role="fieldcontain">
            <label for="red"><%= r.redLabel %></label>
            <input type="range" name="red" value="0" min="0" max="255"
                data-highlight="true" data-mini="true"
                class="colorpicker-red" />
        </div>
        <div data-role="fieldcontain">
            <label for="green"><%= r.greenLabel %></label>
            <input type="range" name="green" value="0" min="0" max="255"
                data-highlight="true" data-mini="true"
                class="colorpicker-green" />
        </div>
        <div data-role="fieldcontain">
            <label for="blue"><%= r.blueLabel %></label>
            <input type="range" name="blue" value="0" min="0" max="255"
                data-highlight="true" data-mini="true"
                class="colorpicker-blue" />
        </div>
    </form>
</div>
<div class="colorpicker-predefined-colors">
    <p><%= r.predefinedColorHint %></p>
    <div>
        <% _.each(colors, function (color) { %>
            <div title="<%= color.name %>" class="colorpicker-predefined-color-wrapper">
                <div style="background-color: <%= color.code %>"
                    data-value="<%= color.code %>"
                    class="colorpicker-predefined-color">
                </div>
            </div>
        <% }); %>
    </div>
</div>
