<ul data-role="listview" data-divider-theme="c">
    <li data-role="list-divider">
        <%= r.information %>
    </li>

    <% _.each(languages, function (language) { %>
        <li>
            <a href="#" class="language" data-value="<%= language.code %>">
                <img src="img/<%= language.code %>.png" alt="<%= language.name %>" class="ui-li-icon" />
                <%= language.name %>
                <span class="ui-li-count" style="display: none;">*</span>
            </a>
        </li>
    <% }); %>
</ul>