<div data-role="header" data-position="fixed">
    <h1 class="title"><%= name %></h1>
    <span class="ui-btn-right">
        <a href="#"
            data-role="button" data-inline="true" data-icon="back"
            data-iconpos="notext" data-theme="b"
            class="undo"><%= r.undoButton %></a>
        <a href="#"
            data-role="button" data-inline="true" data-icon="forward"
            data-iconpos="notext" data-theme="b"
            class="redo"><%= r.redoButton %></a>
        <a href="<%= toolsView.id %>"
            data-role="button" data-inline="true" data-icon="gear"
            data-iconpos="notext" data-theme="b" data-rel="<%= toolsView.type %>"><%= r.toolsButton %></a>
        <a href="#options"
            data-role="button" data-inline="true" data-icon="grid"
            data-iconpos="notext" data-theme="b" data-rel="popup"><%= r.optionsButton %></a>
    <span>
</div>

<div data-role="content">
    <canvas />
</div>

<div data-role="popup" class="networkStatusTooltip" data-theme="b" class="ui-content">
    <p class="message"></p>
</div>

<div data-role="popup" class="invitePending" data-position-to="window"
    class="ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
    </div>
</div>

<div data-role="popup" class="inviteRequest" data-position-to="window"
    class="ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
        <a href="#" data-role="button" data-inline="true" data-theme="c"
            class="reject"><%= r.rejectButton %></a>
        <a href="#" data-role="button" data-inline="true" data-theme="b"
            class="accept"><%= r.acceptButton %></a>
    </div>
</div>

<div data-role="popup" id="toolsPopup" class="tools-view"></div>

<div data-role="popup" id="options" class="options-view"></div>