<div data-role="header" data-position="fixed">
    <button class="menu"
            data-inline="true" data-icon="bars"
            data-iconpos="notext" data-theme="b"><%= r.menuButton %></button>

    <h1>
        <span class="title title-offline"><%= name %></span>
    </h1>

    <div class="social-widgets-anchor"></div>

    <button class="quick-actions ui-btn-right"
            data-inline="true" data-icon="plus"
            data-iconpos="notext" data-theme="b"><%= r.quickActionsButton %></button>
</div>

<div data-role="content" class="main-view-content">
    <canvas />
</div>

<div id="main-message-tooltip"
     data-role="popup" data-theme="b" data-dismissible="false"
     class="message-tooltip ui-content">
    <p class="text"></p>
</div>

<div id="main-invite-pending-popup"
     data-role="popup" data-position-to="window" data-dismissible="false"
     class="ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
    </div>
</div>

<div id="main-invite-request-popup"
     data-role="popup" data-position-to="window" data-dismissible="false"
     class="ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
        <a href="#" data-role="button" data-inline="true" data-theme="c"
            class="reject"><%= r.rejectButton %></a>
        <a href="#" data-role="button" data-inline="true" data-theme="b"
            class="accept"><%= r.acceptButton %></a>
    </div>
</div>
