<div data-role="header" data-position="fixed">
    <h1>
        <span class="title title-offline"><%= name %></span>
    </h1>

    <span class="social-widgets"></span>

    <div class="ui-btn-right">
        <button class="undo"
            data-inline="true" data-icon="back"
            data-iconpos="notext" data-theme="b"><%= r.undoButton %></button>
        <button class="redo"
            data-inline="true" data-icon="forward"
            data-iconpos="notext" data-theme="b"><%= r.redoButton %></button>
        <button class="tools"
            data-inline="true" data-icon="grid"
            data-iconpos="notext" data-theme="b"><%= r.toolsButton %></button>
        <button class="options"
            data-inline="true" data-icon="gear"
            data-iconpos="notext" data-theme="b"><%= r.optionsButton %></button>
    </div>
</div>

<div data-role="content">
    <canvas />
</div>

<div data-role="popup" data-theme="b"
    class="messageTooltip ui-content">
    <p class="text"></p>
</div>

<div data-role="popup" data-position-to="window"
    class="invitePendingPopup ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
    </div>
</div>

<div data-role="popup" data-position-to="window"
    class="inviteRequestPopup ui-corner-all message-popup">
    <div data-role="header" class="ui-corner-top">
        <h1><%= r.inviteTitle %></h1>
    </div>
    <div data-role="content" class="ui-corner-bottom ui-content">
        <p class="message"></p>
        <a href="#" data-role="button" data-inline="true" data-theme="c"
            class="reject"><%= r.rejectButton %></a>
        <a href="#" data-role="button" data-inline="true" data-theme="b"
            class="accept"><%= r.acceptButton %></a>
    </div>
</div>
