<div class="tools-view-anchor"></div>

<div data-role="controlgroup"
     class="sub-menu">
    <button data-menu-name="invite"
            data-menu-type="page"
            data-theme="b"><%= r.inviteButton %></button>
    <button data-menu-name="settings"
            data-menu-type="page"
            data-theme="b"><%= r.settingsButton %></button>
    <button data-menu-name="about"
            data-menu-type="popup"
            data-theme="b"><%= r.aboutButton %></button>
</div>
