<!-- The data-role="header" and data-role="footer" classes are applied manually
because these widgets are not standard widgets and they connot be initialized
by triggering the "create" event (inside a popup). -->
<div data-role="header" class="ui-corner-top ui-header ui-bar-a">
    <h1 class="ui-title"><%= r.title %></h1>
</div>

<div data-role="content" class="ui-corner-bottom ui-content">
    <form>
        <p>
            <input type="file" id="path" name="path" class="path" />
        </p>
        <button data-inline="true" data-theme="c"
            class="cancel"><%= r.cancelButton %></button>
    </form>
</div>
