<div class="block">
    <label class="block-title"><%= r.shapeLabel %></label>
    <fieldset data-role="controlgroup" data-mini="true">
        <% for (var shape in shapes) { %>
            <% if (shapes.hasOwnProperty(shape)) { %>
                <label for="<%= shape %>"><%= r[shape] %></label>
                <input type="radio" id="<%= shape %>" name="shape"
                    value="<%= shape %>" class="shape" />
            <% } %>
        <% } %>
    </fieldset>
</div>
<div class="block">
    <label for="width" class="block-title"><%= r.widthLabel %></label>
    <input type="number" name="width" value="1" min="1" max="100"
        data-type="range" data-highlight="true" data-mini="true"
        class="width" />
</div>
<div class="block">
    <label class="block-title"><%= r.colorLabel %></label>    
    <div class="color-picker block-content"></div>
</div>
