<!-- The data-role="header" and data-role="footer" classes are applied manually
because these widgets are not standard widgets and they connot be initialized
by triggering the "create" event (inside a popup). -->
<div data-role="header" class="ui-corner-top ui-header ui-bar-a">
    <h1 class="ui-title"><%= r.title %></h1>
</div>

<div data-role="content" class="ui-corner-bottom ui-content ui-body-c">
    <div class="block">
        <label class="block-title"><%= r.shapeLabel %></label>
      
        <!-- The form tag must be present for the enhancement of the widget -->  
        <form>
            <div data-role="controlgroup" data-type="horizontal" class="block-content">
                <label for="pencil"><%= r.pencilLabel %></label>
                <input type="radio" id="pencil" name="shape" value="pencil"
                    data-mini="true"
                    class="shape" />
                
                <label for="line"><%= r.lineLabel %></label>
                <input type="radio" id="line" name="shape" value="line"
                    data-mini="true"
                    class="shape" />
                
                <label for="rectangle"><%= r.rectangleLabel %></label>
                <input type="radio" id="rectangle" name="shape" value="rectangle"
                    data-mini="true"
                    class="shape" />
                
                <label for="circle"><%= r.circleLabel %></label>
                <input type="radio" id="circle" name="shape" value="circle"
                    data-mini="true"
                    class="shape" />
            </div>
        </form>
    </div>
    <div class="block">
        <label for="width" class="block-title"><%= r.widthLabel %></label>

        <input type="number" name="width" value="1" min="1" max="100"
            data-type="range" data-highlight="true" data-mini="true"
            class="width" />
    </div>
    <div class="block">
        <label class="block-title"><%= r.colorLabel %></label>
        
        <div class="color-picker block-content"></div>
    </div>
</div>