<div data-role="header">
    <h1><%= r.title %></h1>
</div>

<div data-role="content" data-theme="b">
    <h2><%= name >&nbsp;<%= version %></h2>
    <p>
        <%= r.description %>
    </p>
    <p>
        <%= r.follow %>&nbsp;
        <a href="http://twitter.com/loic_fontaine" target="_blank">twitter</a>
    </p>
    <p>
        <%= r.source %>&nbsp;
        <a href="http://github.com/lfont/WebPaint" target="_blank">github</a>
        <br />
        &copy; 2011-2012 Loïc Fontaine
    </p>
</div>

<div data-role="footer">
    <h4></h4>
</div>