<ul data-role="listview" data-inset="true" data-divider-theme="a" class="menu">
    <li data-role="list-divider" class="menu-title">
        <%= r.title %>
    </li>

    <% _.each(options, function (option) { %>
        <li>
            <a href="<%= option.link %>" data-rel="dialog"
                <% if (option.action) { %>
                    class="action"
                    data-value="<%= option.action %>"
                <% } %>
                >
                <%= option.name %>
            </a>
        </li>
    <% }); %>
</ul>