<div data-role="header">
    <h1><%= r.title %></h1>
</div>

<div data-role="content" data-theme="d">
    <ul data-role="listview">
        <% _.each(options, function (option) { %>
            <li>
                <a href="<%= option.link %>" data-rel="dialog"
                    <% if (option.action) { %>
                        class="action"
                        data-value="<%= option.action %>"
                    <% } %>
                    >
                    <%= option.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>

<div data-role="footer">
    <h4></h4>
</div>