<div class="colorpicker-predefined-colors">
    <% for (var i = 0; i < colors.length; i += 1) { %>
        <% var color = colors[i]; %>
        <div class="colorpicker-predefined-color"
            title="<%= color.name %>"
            data-mvc-action="{ event: vclick, method: value, param-color: <%= color.code %> }">
            <div class="<%= (color.code === selectedColor) ? 'colorpicker-color-selected' : '' %>"
                style="background-color: <%= color.code %>">
            </div>
        </div>
    <% } %>
</div>