<div data-role="header">
    <h1><%= r.title %></h1>
</div>

<div data-role="content" data-theme="d">
    <div class="block">
        <label><%= r.shapeLabel %></label>
        
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" class="shapeList"> 
                <legend></legend>
        
                <input type="radio" name="shape" value="pencil" />
                <label for="pencil"><%= r.pencilLabel %></label>
                
                <input type="radio" name="shape" value="line" />
                <label for="line"><%= r.lineLabel %></label>
                
                <input type="radio" name="shape" value="rectangle" />
                <label for="rectangle"><%= r.rectangleLabel %></label>
                
                <input type="radio" name="shape" value="circle" />
                <label for="circle"><%= r.circleLabel %></label>
            </fieldset>
        </div>
    </div>
    <div class="block">
        <label for="width"><%= r.widthLabel %></label>
        
        <div data-role="fieldcontain">
            <input type="number" name="width"
                data-type="range" data-theme="c" data-track-theme="b"
                value="1" min="1" max="100" />
        </div>
    </div>
    <div class="block">
        <label><%= r.colorLabel %></label>
        
        <div class="colorPickerAnchor"></div>
    </div>
</div>

<div data-role="footer">
    <h4></h4>
</div>