/*
A simple drawing application for touch devices.
Loïc Fontaine - http://github.com/lfont - MIT Licensed
*/

@media screen and (orientation: landscape) {
    html, body {
        width: 100%;
    }
}

@media screen and (orientation: portrait) {
    html, body {
        width: 100%;
    }
}

[data-role='content'] {
    text-align: center;
}

#main {
    -webkit-user-select: none;
    user-select: none;
}

#main canvas {
    border: 1px solid black;
    background: transparent url('images/background.png') repeat 0 0;
    cursor: pointer;
}

#main canvas:active {
    cursor: crosshair;
}

.ui-title-left {
    margin-left: 15px !important;
    text-align: left !important;
}

.colorpicker-colors {
    margin: 0 auto;
    width: 90%;
}

.colorpicker-color {
    padding: 0.5em;
}

.colorpicker-color-code {
    background: transparent url("images/background.png") repeat 0 0;
    border: 1px solid gray;
    cursor: pointer;
    height: 30px;
}

.colorpicker-color-code div {
    height: 100%;
}

.colorpicker-color-code div:hover {
    outline: 4px solid gray;
}

.colorpicker-color-code-selected {
    outline: 4px solid gray;
}
    
.webpaint-history-image {
    background: transparent url("images/background.png") repeat 0 0;
    height: 115px;
    width: 115px;
}
